html, body {
	height: 100%;
	position: relative;
}

.content {
	background-color: #F1F1F1;
}

#footer {
	color: #CCCCCC;
	background-color: #333333;
}

	/* SHOWCASE */

#wrap {
	background-color: #303030;
	background-image: url(../img/bg1.jpg);
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 70%;
	height: auto !important;
}

.logo {
	font-size: 100px;
	color: #F75759;
	color: rgba(255, 65, 76, 0.80);
	line-height: 60px;
	text-align: center;
	margin: 25% auto auto;
}

.logo:hover {
	color: #F75759;
	-webkit-transition: color 2.00s;
	-moz-transition: color 2.00s;
	-o-transition: color 2.00s;
	transition: color 2.00s;
}