---
layout: bootstrap
title: Home
landing: true
---
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>The Collider Project</h1>
                        <h3>Growing business in downtown Dayton</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="https://twitter.com/thecolliderproject" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li><a href="https://github.com/collider" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li><a href="https://goo.gl/maps/ZTYPQ" class="btn btn-default btn-lg"><i class="fa fa-map-marker fa-fw"></i> <span class="network-name">Dayton, Ohio</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What do we do?</h2>
                    <p class="lead">We make awesome stuff.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Recent Job Posts</h2>
                    <p class="lead">Here are the 5 most recent posts to our job board.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <ul class="list-unstyled">
{% for post in site.categories.peer %}
            <li><a href="{{ post.url }}"><i class="fa fa-angle-double-right"></i> {{ post.title }}</a></li>
{% endfor %}
            <li><a href="/peer/"><i class="fa fa-archive"></i> All Job Posts</a></li>
        </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Upcoming Events</h2>
                    <p class="lead">Here are the 5 most recent posts to our job board.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <ul class="list-unstyled">
{% for post in site.categories.event %}
            <li><a href="{{ post.url }}"><i class="fa fa-angle-double-right"></i> {{ post.title }}</a></li>
{% endfor %}
            <li><a href="/event/"><i class="fa fa-archive"></i> Event Archives</a></li>
        </ul>
                </div>
            </div>
        </div>
    </div>
